<%-include('partials/header.ejs')%>

<body>
    <div class="alert alert-success" role="alert">
        Pergunta realizada com sucesso <a href="/perguntar" class="alert-link">Clique aqui para fazer outra pergunta</a>
      </div>
</body>
<%-include('partials/footer.ejs')%>